#title {
    text-align:center;
    color: rgba(228, 228, 228, 0.932);
    background-color: black;
    font-family: serif, 'Times New Roman', Times;
    padding: 25px;
    border: 5px solid rgb(24, 22, 156);
    width:1100px;
    margin: 20px auto 40px auto;
    
}
body#page1{background-color:rgb(31, 31, 37);}
body#page2{background-color:rgb(31, 31, 37);}
body#page3{background-color:rgb(31, 31, 37);}
body#page4{background-color:rgb(31, 31, 37);}




#three-guys {
    width: 60%;
  margin: auto;
  display: block;
  margin-bottom: 30px;
}

#index-descr {
    color: rgba(228, 228, 228, 0.932);
    text-align:center;
    margin-bottom: 30px;
}


* {
    font-family:serif, 'Times New Roman', Times;
}

.button-set-index {
    display:inline-block;
    text-align:center;
    background-color:black;
    padding:5px;
    padding-top:10px;
    font-size:25px;
    color:rgba(228, 228, 228, 0.932);
    height:40px;
    margin:5px;
    border:1px solid rgba(228, 228, 228, 0.932);
    text-decoration: none;
}

.button-center {
    text-align:center;
}

.recipe-title {
    display:inline-block;
    color:rgba(228, 228, 228, 0.932);
    background-color:black;
    margin: 10px;
    margin-bottom:15px;
    padding:10px;
    border: 2px solid rgb(24, 22, 156);
}


.guy-links {
    color:rgba(228, 228, 228, 0.932);
}

.title-style {
    display:block;
    margin:10px;
    margin-bottom:15px;
    color:rgba(228, 228, 228, 0.932);
}

.content {
    display:inline-block;
    margin:10px;
    background-color:black;
    color:rgba(228, 228, 228, 0.932);
    margin-bottom:15px;
    padding-left:20px;
    padding-right:20px;
    border: 2px solid rgb(24, 22, 156);
}

.image-style {
    display:block;
    margin:10px;
}

.make-block {
    display:block;
    width:300px
}

ul,
ol {
    padding:20px;
}